@using UIQ.Controllers
@using UIQ.ViewModels

@{
    Layout = null;
    IEnumerable<ArchiveViewModel> configList = ViewBag.ConfigList;
}

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<script src="~/js/jquery-1.3.2.min.js"></script>
<script src="~/js/tool.js"></script>
<link rel=stylesheet type="text/css" href="~/css/style.css">

<!DOCTYPE html>
<html lang="zh-hant">
    <head><title>Archive redo</title></head>
    <body>
        <div id="loading" style="left: 50%; top: 50%; margin-left: 0px !important; margin-top: 0px !important; position: fixed !important; display: none;"><img alt="loading" src="~/images/clock.gif"></div>
        <div class="topic">Rescue tools > Archive redo</div>
        <form name="myForm" class="form">
            Model:
            <select id="model" class="form">
                <option value="">-----</option>
                @foreach(var item in configList.GroupBy(x => x.Md_Name))
                {
                    <option value="@item.Key">@item.Key</option>
                }
            </select>

            Member:
            <select id="member" class="form" OnChange="build_nickname_options();">
                <option value="">-----</option>
            </select>

            Nickname:
            <select id="nickname" class="form">
                <option value="">-----</option>
            </select>
        </form>

        <div id="show">
            Current DTG
            <input id="dtg" type="text" class="form" cols="70" value=""> (the DTG format is yymmddhh) <br><br>
            Data type
            <select  id="method" class="form">
                <option value="">-----</option>
            </select>
        </div>
        <br>

        Run type
        <select id="node" class="form">
            <option value="Major">Major</option>
            <option value="Post">Post</option>
        </select>
        <br>

        <input id="btnEnquire" type="button" class="form" value="Enquire">
        <br>

        <div id="ShowLog" class="short">result...</div>
        <br>
        <input id="btnSubmit" type="button" class="form" value="Submit">
        <br><br>
        <div id="result" class="enquire">result...</div>

        <script type="text/JavaScript">
            function setShowData(response){
                if(response.success){
                    //clearSelectOption('method');
                    $('#method').html('');

                    response.data.methodDatas.forEach(item => $('#method').append(`<option value="${htmlEncode(item.key)}">${htmlEncode(item.value)}</option>`));
                    $('#dtg').val(htmlEncode(response.data.dtg))
                    $('#result').html('');
                }
                else{
                    alert(htmlEncode(response.message))
                }
            }

            function setShowLogData(response){
	            if(response.success){
                    let displayDataHtml = '';
                    response.data.displayDatas.forEach(item => displayDataHtml += `${htmlEncode(item)}<br>`);
                    
                    let tableDataHtml = '';
                    if(response.data.tableDatas.length == 0){
                        tableDataHtml = 'No data!!';
                    }
                    else{
                        //tableDataHtml = '<br><table><tr>';
                        //response.data.tableDatas.forEach((item, idx) => {
                        //    tableDataHtml += `<td>${htmlEncode(item)}</td><tr>`;
                        //    if(idx % 9 == 8){
                        //        tableDataHtml += '</td></tr><tr>'
                        //    }
                            
                        //});
                        //tableDataHtml += '</table><br><br>';
                    }
                    
		            $('#ShowLog').html(`<pre>${displayDataHtml}${tableDataHtml}</pre>`);
	            }
	            else{
		            alert(htmlEncode(response.message))
	            }
            }

            function setResultData(response){
	            if(response.success){
                    let dataHtml = '';
                    response.data.forEach(item => dataHtml += `${htmlEncode(item)}<br>`);
		            $('#result').html(dataHtml);
	            }
	            else{
		            alert(htmlEncode(response.message))
	            }
            }

            $('#model').change(function(){
                let selValue = $(this).val();
                clearSelectOption('member');
                $.ajax({
                    url: '@Url.Action(nameof(ModelEnquireController.GetMemberItems), "ModelEnquire")',
                    type: 'POST',
                    data: { modelName : selValue },
                    dataType: "json",
                    success: function(resp){
                        if(resp.length == 0 || resp.success == false){
                            clearSelectOption('nickName');
                        }
                        else{
                            Array.from(resp.data).forEach(item => $('#member').append(`<option value="${item}">${item}</option>`));
                        }
                    },
                    error: function(){
                        clearSelectOption('nickName');
                    }
                });
            });

            $('#nickname').change(function(e){
                let modelValue = $('#model').val();
				let memberValue = $('#member').val();
				let nicknameValue = $('#nickname').val();
				if(!modelValue || !memberValue || ! nicknameValue){
					e.preventDefault();
					e.stopPropagation();
					return false;
				}

                sendAJAXRequest('post', '@(Url.Action(nameof(GetHtmlController.ArchiveShow), "GetHtml"))', setShowData);
            });

            $('#btnEnquire').click(function(e){
                let modelValue = $('#model').val();
				let memberValue = $('#member').val();
				let nicknameValue = $('#nickname').val();
				if(!modelValue || !memberValue || ! nicknameValue){
					e.preventDefault();
					e.stopPropagation();
					return false;
				}

                sendAJAXRequest('post', '@(Url.Action(nameof(GetHtmlController.ArchiveShowForEnquire), "GetHtml"))', setShowLogData);
            });

            $('#btnSubmit').click(function(e){
                let modelValue = $('#model').val();
				let memberValue = $('#member').val();
				let nicknameValue = $('#nickname').val();
				if(!modelValue || !memberValue || ! nicknameValue){
					e.preventDefault();
					e.stopPropagation();
					return false;
				}

                sendAJAXRequest('post', '@(Url.Action(nameof(GetHtmlController.ArchiveResult), "GetHtml"))', setResultData);
            });
        </script>
    </body>
</html>

