@using UIQ.Controllers
@using UIQ.ViewModels

@{
	Layout = null;
	IEnumerable<ModelLogFileViewModel> configList = ViewBag.ConfigList;
}

<script src="~/js/jquery-1.3.2.min.js"></script>
<script src="~/js/tool.js"></script>
<link rel=stylesheet type="text/css" href="~/css/style.css">
<link rel=stylesheet type="text/css" href="~/css/fjstyle.css">

<!DOCTYPE html>
<html lang="zh-hant">
<head>
	<title>Model log files</title>
</head>
<body>
	<div class="topic">Model enquire > Job log check</div>
	<form Name="myForm" action="javascript:;" class="form">
		Model:
		<select id="model" class="form">
			<option value="">-----</option>
			@foreach (var item in configList.GroupBy(x => x.Model_Name))
			{
				<option value="@item.Key">@item.Key</option>
			}
		</select>

		Member:
		<select id="member" class="form" OnChange="build_nickname_options();">
			<option value="">-----</option>
		</select>

		Nickname:
		<select id="nickname" class="form">
			<option value="">-----</option>
		</select>

		<div id="show" class="form">
			Date:
			<select id="node" class="form">
				<option value="">-----</option>
			</select>
			<input id="enquire" type="submit" value="enquire" class="form">
		</div>
		<br>
		<div id="result"></div>
	</form>

	<script type="text/JavaScript">
		function setNodeOptionData(response){
			if(response.success){
				clearSelectOption('node');
				response.data.forEach(item => $('#node').append(`<option value="${htmlEncode(item)}">${htmlEncode(item)}</option>`));

				$('#result').html('');
			}
			else{
				alert(htmlEncode(response.message));
			}
		}

		function setResultData(response){
			if(response.success){
				let dataHtml = '';
				response.data.forEach(item => {
					let data = htmlEncode(item);
					let regex = new RegExp(/^[A-Z]+/);
					if(regex.test(data) || data.includes('Finish'))
						dataHtml += `<span class="c4">${data}</span>`;
					else if(data.includes('fail') || data.includes('cancel'))
						dataHtml += `<span class="c3">${data}</span>`;
					else
						dataHtml += data;
				});

				$('#result').html(`<pre>${dataHtml}</pre>`);
			}
			else{
				alert(htmlEncode(response.message));
			}
		}

		$('#model').change(function(){
			let selValue = $(this).val();
			clearSelectOption('member');
			$.ajax({
				url: '@Url.Action(nameof(ModelEnquireController.GetMemberItems), "ModelEnquire")',
				type: 'POST',
				data: { modelName : selValue },
				dataType: "json",
				success: function(resp){
					if(resp.length == 0 || resp.success == false){
						clearSelectOption('nickName');
					}
					else{
						Array.from(resp.data).forEach(item => $('#member').append(`<option value="${item}">${item}</option>`));
					}
				},
				error: function(){
					clearSelectOption('nickName');
				}
			});
		});

		$('#nickname').change(function(e){
			let modelValue = $('#model').val();
			let memberValue = $('#member').val();
			let nicknameValue = $('#nickname').val();

			if(!modelValue || !memberValue || ! nicknameValue){
				e.preventDefault();
				e.stopPropagation();
				return false;
			}

			sendAJAXRequest('post', '@(Url.Action(nameof(GetHtmlController.ModelLogEnquire), "GetHtml"))', setNodeOptionData);
		});

		$('#enquire').click(function(e){
			let modelValue = $('#model').val();
			let memberValue = $('#member').val();
			let nicknameValue = $('#nickname').val();
			let nodeValue = $('#node').val();
			if(!modelValue || !memberValue || ! nicknameValue || !nodeValue){
				e.preventDefault();
				e.stopPropagation();
				return false;
			}

			sendAJAXRequest('post', '@Url.Action(nameof(GetHtmlController.ModelLogResult), "GetHtml")', setResultData);
		});
	</script>
</body>
</html>

