@using UIQ.Controllers
@using UIQ.ViewModels

@{
    Layout = null;
    IEnumerable<ModelLogFileViewModel> configList = ViewBag.ConfigList;
}

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<script src="~/js/jquery-1.3.2.min.js"></script>
<script src="~/js/tool.js"></script>
<link rel=stylesheet type="text/css" href="~/css/style.css">

<!DOCTYPE html>
<html lang="zh-hant">
    <HEAD><TITLE>DTG adjust</Title></Head>
    <body>
        <div id="loading" style="left: 50%; top: 50%; margin-left: 0px !important; margin-top: 0px !important; position: fixed !important; display: none;"><img alt="loading" src="~/images/clock.gif"></div>
        <div class='topic'>Model rerun > DTG adjust</div>
        <form Name="myForm" class="form">
            Model:
            <select id="model" class="form">
                <option value="">-----</option>
                @foreach(var item in configList.GroupBy(x => x.Md_Name))
                {
                    <option value="@item.Key">@item.Key</option>
                }
            </select>

            Member:
            <select id="member" class="form" OnChange="build_nickname_options();">
                <option value="">-----</option>
            </select>

            Nickname:
            <select id="nickname" class="form">
                <option value="">-----</option>
            </select>
        </form>

        <div id="show">
            <div id="divShowTitle" class="short">show current status...</div><br>
            <form class="form">Adjust value
                <select id="dtg" class="form">
                    <option value="">+</option>
                    <option value="-">-</option>
                </select> 
                <b id="dtgshowvalue"></b>
                <input id="btnSubmit" type="button" class="form" value="Submit">
            </form>
        </div>
        <div id="result" class="enquire">result...</div>
        
        <script type="text/JavaScript">
            function setShowData(response){
                if(response.success){
                    let modelName = $('#model').val();
                    let memberName = $('#member').val();
                    let nickname = $('#nickname').val();
                    $('#divShowTitle').html(`[Model]=${modelName}, [Member]=${memberName}, [Nickname]=${nickname}<br><br>DTG=${htmlEncode(response.data.dtg)}`);
                    
                    $('#dtg option:eq(0)').val(htmlEncode(response.data.dtgValue));
                    $('#dtg option:eq(1)').val("-" + htmlEncode(response.data.dtgValue));
                    //$('#dtg').after(htmlEncode(response.data.dtgValue))
                    $('#dtgshowvalue').html(htmlEncode(response.data.dtgValue))
                    $('#result').html('');
                }
                else{
                    alert(htmlEncode(response.message))
                }
            }

            function setResultData(response){
	            if(response.success){
                    let dataHtml = '';
                    response.data.forEach(item => dataHtml += `${htmlEncode(item)}<br>`);
		            $('#result').html(dataHtml);
	            }
	            else{
		            alert(htmlEncode(response.message))
	            }
            }

            $('#model').change(function(){
                let selValue = $(this).val();
                clearSelectOption('member');
                $.ajax({
                    url: '@Url.Action(nameof(ModelEnquireController.GetMemberItems), "ModelEnquire")',
                    type: 'POST',
                    data: { modelName : selValue },
                    dataType: "json",
                    success: function(resp){
                        if(resp.length == 0 || resp.success == false){
                            clearSelectOption('nickName');
                        }
                        else{
                            Array.from(resp.data).forEach(item => $('#member').append(`<option value="${item}">${item}</option>`));
                        }
                    },
                    error: function(){
                        clearSelectOption('nickName');
                    }
                });
            });

            $('#nickname').change(function(e){
                let modelValue = $('#model').val();
				let memberValue = $('#member').val();
				let nicknameValue = $('#nickname').val();
				if(!modelValue || !memberValue || ! nicknameValue){
					e.preventDefault();
					e.stopPropagation();
					return false;
				}

                sendAJAXRequest('post', '@(Url.Action(nameof(GetHtmlController.DtgShow), "GetHtml"))', setShowData);
            });

            $('#btnSubmit').click(function(e){
                let modelValue = $('#model').val();
				let memberValue = $('#member').val();
				let nicknameValue = $('#nickname').val();
				if(!modelValue || !memberValue || ! nicknameValue){
					e.preventDefault();
					e.stopPropagation();
					return false;
				}

                sendAJAXRequest('post', '@(Url.Action(nameof(GetHtmlController.DtgResult), "GetHtml"))', setResultData);
            });
        </script>
    </body>
</html>



