@using UIQ.Controllers
@using UIQ.ViewModels

@{
    Layout = null;
    IEnumerable<ModelLogFileViewModel> configList = ViewBag.ConfigList;
}

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<script src="~/js/jquery-1.3.2.min.js"></script>
<script src="~/js/tool.js"></script>
<link rel=stylesheet type="text/css" href="~/css/style.css">

<!DOCTYPE html>
<html lang="zh-hant">
    <head><title>LID adjust</title></head>
    <body>
        <div class="topic">Model rerun > Lid adjust</div>
        <form Name="myForm" class="form">
            Model:
            <select id="model" class="form">
                <option value="">-----</option>
                @foreach(var item in configList.GroupBy(x => x.Model_Name))
                {
                    <option value="@item.Key">@item.Key</option>
                }
            </select>

            Member:
            <select id="member" class="form" OnChange="build_nickname_options();">
                <option value="">-----</option>
            </select>
    
            Nickname:
            <select id="nickname" class="form">
                <option value="">-----</option>
            </select>
        </form>
        <div id="show" class="short">show the LID value</div>
        <form class="form">Adjust LID
            <select id="lid" class="form">
                <option value="0">0(關閉)</option>
                <option value="1">1(啟動)</option>
                <option value="2">2(異常)</option>
            </select>
            <input id="btnSubmit" type="button" class="form" value="Submit">
        </form>
        <div id="result" class="enquire">show the result after adjusting</div>

        <script type="text/JavaScript">
            function setShowData(response){
                if(response.success){
                    let modelName = $('#model').val();
                    let memberName = $('#member').val();
                    let nickname = $('#nickname').val();
                    $('#show').html(`[Model]=${modelName}, [Member]=${memberName}, [Nickname]=${nickname}<br><br>LID=${htmlEncode(response.data)}`);
                    $('#result').html('');
                }
                else{
                    alert(htmlEncode(response.message))
                }
            }

            function setResultData(response){
	            if(response.success){
		            $('#result').html(htmlEncode(response.data));
	            }
	            else{
		            alert(htmlEncode(response.message))
	            }
            }

            $('#model').change(function(){
                let selValue = $(this).val();
                clearSelectOption('member');
                $.ajax({
                    url: '@Url.Action(nameof(ModelEnquireController.GetMemberItems), "ModelEnquire")',
                    type: 'POST',
                    data: { modelName : selValue },
                    dataType: "json",
                    success: function(resp){
                        if(resp.length == 0 || resp.success == false){
                            clearSelectOption('nickName');
                        }
                        else{
                            Array.from(resp.data).forEach(item => $('#member').append(`<option value="${item}">${item}</option>`));
                        }
                    },
                    error: function(){
                        clearSelectOption('nickName');
                    }
                });
            });

            $('#nickname').change(function(e){
                let modelValue = $('#model').val();
				let memberValue = $('#member').val();
				let nicknameValue = $('#nickname').val();
				if(!modelValue || !memberValue || ! nicknameValue){
					e.preventDefault();
					e.stopPropagation();
					return false;
				}

                sendAJAXRequest('post', '@(Url.Action(nameof(GetHtmlController.LidShow), "GetHtml"))', setShowData);
            });

            $('#btnSubmit').click(function(e){
                let modelValue = $('#model').val();
				let memberValue = $('#member').val();
				let nicknameValue = $('#nickname').val();
				if(!modelValue || !memberValue || ! nicknameValue){
					e.preventDefault();
					e.stopPropagation();
					return false;
				}

                sendAJAXRequest('post', '@(Url.Action(nameof(GetHtmlController.LidResult), "GetHtml"))', setResultData);
            });
        </script>
    </body>
</html>



