@using UIQ.Controllers
@using UIQ.ViewModels

@{
    Layout = null;
    IEnumerable<ModelLogFileViewModel> configList = ViewBag.ConfigList;
}

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<script src="~/js/jquery-1.3.2.min.js"></script>
<script src="~/js/tool.js"></script>
<link rel=stylesheet type="text/css" href="~/css/style.css">

<!DOCTYPE html>
<html lang="zh-hant">
    <head><title>Submit model</title></head>
    <body>
        <div class='topic'>Model rerun > submit model</div>
        <form Name="myForm" class="form">
            Model:
            <select id="model" class="form">
                <option value="">-----</option>
                @foreach(var item in configList.GroupBy(x => x.Model_Name))
                {
                    <option value="@item.Key">@item.Key</option>
                }
            </select>

            Member:
            <select id="member" class="form" OnChange="build_nickname_options();">
                <option value="">-----</option>
            </select>
    
            Nickname:
            <select id="nickname" class="form" > <!--OnChange="sendAJAXRequest('post', '@(Url.Action(nameof(GetHtmlController.SubmitShow), "GetHtml"))', 'show');$('#result').html('');"> -->
                <option value="">-----</option>
            </select>
        </form>

        <div id="show" >
            <div id="divShowTitle" class="short">Current DTG and Lid</div>
            <input type="hidden" id="dtg" value="">
        <input id="btnSubmit" type="button" class="form" value="Submit" /><!--OnClick="sendAJAXRequest('post', '@(Url.Action(nameof(GetHtmlController.SubmitResult), "GetHtml"))', 'result');">-->
        </div>
        <br>
        <div id="result" class="enquire">result...</div>

        <script type="text/JavaScript">
            function setShowData(response){
                if(response.success){
                    let modelName = $('#model').val();
                    let memberName = $('#member').val();
                    let nickname = $('#nickname').val();
                    let batchSelectOptionsHtml = ''
                        response.data.batchDatas.forEach(item => batchSelectOptionsHtml += `<option value="${htmlEncode(item.key)}">${htmlEncode(item.value)}</option>`)
                    $('#divShowTitle').html(`[Model] =${modelName}, [Member]=${memberName}, [Nickname]=${nickname}<br><br>
                        DTG =${htmlEncode(response.data.dtg)} ;
                        Lid =${htmlEncode(response.data.lid)} ;
                        batch:<select id="batch" class="form">
                                ${batchSelectOptionsHtml}
                              </select>`);
                    
                    if(htmlEncode(response.data.lid) === '1'){
                        $('#btnSubmit').prop('disabled', true);
                    }
                    $('#dtg').val(htmlEncode(response.data.dtg));
                    $('#result').html('');
                }
                else{
                    alert(htmlEncode(response.message))
                }
            }

            function setResultData(response){
	            if(response.success){
                    let dataHtml = '';
                    response.data.forEach(item => dataHtml += `${htmlEncode(item)}<br>`);
		            $('#result').html(`<pre>${dataHtml}</pre>`);
	            }
	            else{
		            alert(htmlEncode(response.message))
	            }
            }

            $('#model').change(function(){
                let selValue = $(this).val();
                clearSelectOption('member');
                $.ajax({
                    url: '@Url.Action(nameof(ModelEnquireController.GetMemberItems), "ModelEnquire")',
                    type: 'POST',
                    data: { modelName : selValue },
                    dataType: "json",
                    success: function(resp){
                        if(resp.length == 0 || resp.success == false){
                            clearSelectOption('nickName');
                        }
                        else{
                            Array.from(resp.data).forEach(item => $('#member').append(`<option value="${item}">${item}</option>`));
                        }
                    },
                    error: function(){
                        clearSelectOption('nickName');
                    }
                });
            });

            $('#nickname').change(function(e){
                let modelValue = $('#model').val();
				let memberValue = $('#member').val();
				let nicknameValue = $('#nickname').val();
				if(!modelValue || !memberValue || ! nicknameValue){
					e.preventDefault();
					e.stopPropagation();
					return false;
				}

                sendAJAXRequest('post', '@(Url.Action(nameof(GetHtmlController.SubmitShow), "GetHtml"))', setShowData);
            });

            $('#btnSubmit').click(function(e){
                let modelValue = $('#model').val();
				let memberValue = $('#member').val();
				let nicknameValue = $('#nickname').val();
				if(!modelValue || !memberValue || ! nicknameValue){
					e.preventDefault();
					e.stopPropagation();
					return false;
				}

                sendAJAXRequest('post', '@(Url.Action(nameof(GetHtmlController.SubmitResult), "GetHtml"))', setResultData);
            });
        </script>
    </body>
</html>