@using UIQ.Controllers
@using UIQ.ViewModels

@{
    Layout = null;
    IEnumerable<ModelLogFileViewModel> configList = ViewBag.ConfigList;
}

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<script src="~/js/jquery-1.3.2.min.js"></script>
<script src="~/js/tool.js"></script>
<link rel=stylesheet type="text/css" href="~/css/style.css">

<html>
    <head><title>Submit model</title></head>
    <body>
        <div class='topic'>Model rerun > submit model</div>
        <form Name="myForm" class="form">
            Model:
            <select id="model" class="form">
                <option>-----</option>
                @foreach(var item in configList.GroupBy(x => x.Model_Name))
                {
                    <option value="@item.Key">@item.Key</option>
                }
            </select>

            Member:
            <select id="member" class="form" OnChange="build_nickname_options();">
                <option>-----</option>
            </select>
    
            Nickname:
            <select id="nickname" class="form" OnChange="sendAJAXRequest('post', '@(Url.Action(nameof(GetHtmlController.SubmitShow), "GetHtml"))', 'show');$('#result').html('');">
                <option>-----</option>
            </select>
        </form>

        <div id="show" >
            <div class="short">Current DTG and Lid</div>
            <input type="button" class="form" value="Submit" OnClick="sendAJAXRequest('post', '@(Url.Action(nameof(GetHtmlController.SubmitResult), "GetHtml"))', 'result');">
        </div>
        <br>
        <div id="result" class="enquire">result...</div>

        <script type="text/JavaScript">
            function clearSelectOption(elementId){
                $(`#${elementId}`).html('<option>-----</option>')
            }

            $('#model').change(function(){
                let selValue = $(this).val();
                clearSelectOption('member');
                $.ajax({
                    url: '@Url.Action(nameof(ModelEnquireController.GetMemberItems), "ModelEnquire")',
                    type: 'POST',
                    data: { modelName : selValue },
                    dataType: "json",
                    success: function(resp){
                        if(resp.length == 0 || resp.success == false){
                            clearSelectOption('nickName');
                        }
                        else{
                            Array.from(resp.data).forEach(item => $('#member').append(`<option value="${item}">${item}</option>`));
                        }
                    },
                    error: function(){
                        clearSelectOption('nickName');
                    }
                });
            });
        </script>
    </body>
</html>