@using System.Security.Claims
@using UIQ.Controllers
@using UIQ.Enums
@model IEnumerable<Command>
@inject IHttpContextAccessor httpContextAccessor
@{
    Layout = null;
    var currentUser = httpContextAccessor.HttpContext.User;
    var currentUserGroup = currentUser?.Identities.FirstOrDefault().Claims.FirstOrDefault(x => x.Type == ClaimTypes.Role).Value;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<meta http-equiv="X-UA-Compatible" content="IE=9">

<script type="text/javascript" src="~/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="~/js/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="~/js/apprise-1.5.full.js"></script>
<script type="text/javascript" src="~/js/tool.js"></script>
<script type="text/javascript" src="~/js/command.js"></script>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  lang="zh-hant">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/bootstrap/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/css/jqueryslidemenu.css" rel="stylesheet" type="text/css" />
    <link href="~/css/apprise.css" rel="stylesheet" type="text/css" />

    <script language="javascript">
        window.onload = function(){
        //senfe("表格名称","奇数行背景","偶数行背景","鼠标经过背景","点击后背景");
            senfe("changecolor","#f8fbfc","#e5f1f4","#ecfbd4","#bce774");
        };
    </script>
    <title>Special Use Command</title>
</head>

<body>
    <div id="loading"><img alt="loading" src="~/images/clock.gif"></div>
    <div class=topic>
        Maintain tools > Special Use command
        <input style="float:right;" type="button" value="Add" @(currentUser.IsInRole(GroupNameEnum.OP.ToString()) ? "disabled" : $@"onclick=location.href='{Url.Action(nameof(MaintainToolsController.CommandEdit))}'; ") />
    </div>
    <br>
    <div>
    <div id="authority" style="display:none;"></div>
    <table class="warp_table" id="changecolor" aria-labelledby="changecolor">
        <thead>
            <tr>
                <th scope="col">Command Name</th>
                <th scope="col" width=65%>Describe</th>
                <th scope="col" width=12%>Exec Time(min)</th>
                <th scope="col" width=6%>Edit</th>
                <th scope="col" width=6%>Execute</th>
                <th scope="col" width=6%>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var isUserAdmGroup = currentUser.IsInRole(GroupNameEnum.ADM.ToString());

               <tr>
                   <td>@item.Command_Name</td>
                   <td>@Html.Raw(item.Command_Desc.Replace("\n", "<br>"))</td>
                   <td>@item.Execution_Time</td>
                   <td><input type="button" value="Edit" onclick="location.href='@Url.Action(nameof(MaintainToolsController.CommandEdit), new { commandId = item.Command_Id })'" @(isUserAdmGroup ? string.Empty : "disabled") /></td>
                   <td><input id="btnExe" type="button" value="Exe" onclick="showParameterModal('@(item.Command_Id)', '@(currentUserGroup)');"></td>
                   <td><input type="button" class="tryit" value="Del" onclick="@(isUserAdmGroup ? $"if (confirm('Delete this command?')){{ location.href = '{Url.Action(nameof(MaintainToolsController.CommandDelete), new { commandId = item.Command_Id })}' }}" : string.Empty)" @(isUserAdmGroup ? string.Empty : "disabled")></td>
               </tr>
            }
        </tbody>
    </table>
    </div>
    <br>Execute result:
    <div id="show" class="enquire">show the Execute result</div>

    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="parameter_modal" class="modal fade" style="display: none;">
        <div id="selected_cmd_id" style='display:none'></div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h4 class="modal-title">Please Input Command Information</h4>
                </div>
                <div class="modal-body">
                    <form id="parameter_form" role="form" class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-11" for="parameters">Parameter</label>
                            <div class="col-md-11">
                                <input type="text" placeholder="Allow Empty" id="parameters" class="form-control">
                            </div>
                        </div>
                        <div id="pwd_form_group" class="form-group" style="display:none">
                            <label class="col-md-11" for="password">Password</label>
                            <div class="col-md-11">
                                <input type="password" placeholder="" id="password" class="form-control">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info" type="button" id="modal_execute">Execute</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="modal_close">Close</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
