@using System.Security.Claims
@using UIQ.Controllers
@using UIQ.Enums
@model IEnumerable<Role>
@inject IHttpContextAccessor httpContextAccessor
@{
	 Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<link rel="stylesheet" href="~/css/style.css" type="text/css">
<link rel="stylesheet" href="~/css/jquery-ui.min.css" type="text/css" />
<link rel="stylesheet" href="~/css/bootstrap/bootstrap.min.css" type="text/css" />
<link rel="stylesheet" href="~/css/bootstrap/custom.css" type="text/css" />
<link rel="stylesheet" href="~/packages/jtable/2.4.0/themes/lightcolor/gray/jtable.min.css" type="text/css">
<link rel="stylesheet" href="~/packages/jtable/2.4.0/custom.css" type="text/css">

<script type="text/javascript" src="~/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="~/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="~/js/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="~/js/bootstrap/custom.min.js"></script>
<script type="text/javascript" src="~/js/lib.min.js"></script>
<script type="text/javascript" src="~/packages/jtable/2.4.0/jquery.jtable.min.js"></script>
<script type="text/javascript" src="~/packages/jtable/2.4.0/custom.js"></script>

<html xmlns="http://www.w3.org/1999/xhtml"  lang="zh-hant">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="~/css/jquery-ui.min.css" rel="stylesheet" type="text/css" />
		<link href="~/css/style.css" rel="stylesheet" type="text/css" />
		<link href="~/css/jqueryslidemenu.css" rel="stylesheet" type="text/css" />
		<link href="~/css/apprise.css" rel="stylesheet" type="text/css" />
		<link href="~/css/flexselect.css" rel="stylesheet" type="text/css" />

		<title>Permission Setting</title>
	</head>
	<body>
		<div id="loading"><img alt="loading" src="~/images/clock.gif"></div>
		<div class=topic>Permission Setting
			<input type="submit" value="Add" onclick="location.href='@Url.Action(nameof(MaintainToolsController.PermissionSetting_MenuSet), "MaintainTools")'">
		</div>
		<div id="result" class="huge">
		  <div class="jtable-main-container">
			<div class="jtable-busy-panel-background" style="height: 110px;"></div>
			<table class="jtable" aria-describedby="permission_table">
			  <thead>
				<tr>
				  <th class="jtable-column-header" style="width: 10%;" scope="col">
					<div class="jtable-column-header-container">
					  <span class="jtable-column-header-text">SN</span>
					</div>
				  </th>
				  <th class="jtable-column-header" style="width: 70%;" scope="col">
					<div class="jtable-column-header-container">
					  <span class="jtable-column-header-text">Role</span>
					</div>
				  </th>
				  <th class="jtable-column-header" style="width: 10%;" scope="col">
					<div class="jtable-column-header-container">
					  <span class="jtable-column-header-text">Menu Set</span>
					</div>
				  </th>
				  <th class="jtable-column-header" style="width: 10%;" scope="col">
					<div class="jtable-column-header-container">
					  <span class="jtable-column-header-text">User Set</span>
					</div>
				  </th>				  
				</tr>
			  </thead>
			  <tbody>
				@foreach (var item in Model)
				{
				<tr>
					<td>@item.Role_Id</td>
					<td>@item.Role_Name</td>
					<td><a href="@Url.Action(nameof(MaintainToolsController.PermissionSetting_MenuSet), "MaintainTools", new{ roleId = item.Role_Id})">Set</a></td>
					<td><a href="@Url.Action(nameof(MaintainToolsController.PermissionSetting_UserSet), "MaintainTools", new{ roleId = item.Role_Id})">Set</a></td>
				</tr>
				}
			  </tbody>
			</table>
			<div class="jtable-column-resize-bar" style="display: none;"></div>
			<div class="jtable-column-selection-container"></div>
		  </div>
		</div>
	</body>
</html>
