@using UIQ.Controllers
@using UIQ.ViewModels
@model IEnumerable<MenuRoleSetViewModel>
@{
    Layout = null;
    Role role = ViewBag.Role;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-hant">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="~/css/bootstrap/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
        <link href="~/css/style.css" rel="stylesheet" type="text/css" />
        <link href="~/css/jqueryslidemenu.css" rel="stylesheet" type="text/css" />

        <script type="text/javascript" src="~/js/jquery-3.1.1.min.js"></script>
        <script type="text/javascript" src="~/js/bootstrap/bootstrap.min.js"></script>
        <script type="text/javascript" src="~/js/tool.js"></script>
        <script type="text/javascript" src="~/js/command.js"></script>

        <title>Menu Set</title>
    </head>

    <body>
        <div id="loading"><img alt="loading" src="~/images/clock.gif"></div>
        <div class=topic>PermissionSetting > Menu Set</div>

        <div>
            <form method="post" class="form" action="@(Url.Action(nameof(MaintainToolsController.PermissionSetting_MenuSet)))" enctype="multipart/form-data">
                <table width="100%" id="edit_command_table" aria-describedby="edit_command_table">
                     <tr style="display:none;">                
                        <th scope="col"></th>
                    </tr>
                    <tbody>
                        <tr>
                            <td width=8%>Role Name</td>
                            <td>
                                <input type="text" name="roleName" value="@(role?.Role_Name)">
                                <input type="hidden" name="roleId" value="@(role == null ? null : (int?)role.Role_Id)">
                            </td>
                        </tr>
                        @foreach (var mainMenu in Model.Where(x => x.Parent_Id == null))
                        {
                            var subMenus = Model.Where(x => x.Parent_Id == mainMenu.Menu_Id);

                            <tr>
                                <td>@mainMenu.Name</td>
                                <td>
                                    <input type="checkbox" id="menuAll_@(mainMenu.Menu_Id)" class="all-menu-check" data-id="@(mainMenu.Menu_Id)" @(subMenus.All(x => x.Is_Selected) ? "checked" : string.Empty)><label for="menuAll_@(mainMenu.Menu_Id)"> ALL</label>
                                    <input type="checkbox" id="menu_@(mainMenu.Menu_Id)" name="menuIds" data-id="@(mainMenu.Menu_Id)" value="@mainMenu.Menu_Id" @(mainMenu.Is_Selected ? "checked" : string.Empty) style="display:none;" />
                                    @foreach (var subMenu in subMenus)
                                    {
                                        <input type="checkbox" id="menu_@(subMenu.Menu_Id)" name="menuIds" class="menu-check" data-id="@(mainMenu.Menu_Id)" value="@subMenu.Menu_Id" @(subMenu.Is_Selected ? "checked" : string.Empty)> <label for="menu_@(subMenu.Menu_Id)">@subMenu.Name</label>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div>
                    <input type="submit" value="Save">
                    <input type="button" value="Exit" onclick="if (confirm('Exit this edit page without saving?')){location.href='@(Url.Action(nameof(MaintainToolsController.PermissionSetting)))'}">
                </div>
            </form>
        </div>

        <script>
            $('.all-menu-check').change(function(){
                let mainMenuId = $(this).data('id');
                $(`input[data-id='${mainMenuId}']`).prop('checked', $(this).prop('checked'));
            });

            $('.menu-check').change(function(){
                let mainMenuId = $(this).data('id');
                let isAnySubMenuChecked = $(`input.menu-check[data-id='${mainMenuId}']:checked`).length > 0;
                $(`#menu_${mainMenuId}`).prop('checked', isAnySubMenuChecked);

                let isAllSubMenuChecked = $(`input.menu-check[data-id='${mainMenuId}']:checked`).length == $(`input.menu-check[data-id='${mainMenuId}']`).length;
                $(`#menuAll_${mainMenuId}`).prop('checked', isAllSubMenuChecked);
            });
        </script>
    </body>
</html>


