@using UIQ.Controllers
@using UIQ.ViewModels
@model IEnumerable<UserRoleSetViewModel>
@{
    Layout = null;
    Role role = ViewBag.Role;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-hant">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="~/css/bootstrap/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
        <link href="~/css/style.css" rel="stylesheet" type="text/css" />
        <link href="~/css/jqueryslidemenu.css" rel="stylesheet" type="text/css" />

        <script type="text/javascript" src="~/js/jquery-3.1.1.min.js"></script>
        <script type="text/javascript" src="~/js/bootstrap/bootstrap.min.js"></script>
        <script type="text/javascript" src="~/js/tool.js"></script>

        <title>User Set</title>
    </head>

    <body>
        <div id="loading"><img alt="loading" src="~/images/clock.gif"></div>
        <div class=topic>PermissionSetting > User Set</div>

        <div>
            <form method="post" class="form" action="@(Url.Action(nameof(MaintainToolsController.PermissionSetting_UserSet)))" enctype="multipart/form-data">
                <table width="100%" id="edit_command_table" aria-describedby="edit_command_table">
                     <tr style="display:none;">                
                        <th scope="col"></th>
                    </tr>
                    <tbody>
                        <tr>
                            <td width=8%>Role Name</td>
                            <td>
                                <input type="text" value="@role?.Role_Name" disabled>
                                <input type="hidden" name="roleId" value="@role?.Role_Id">
                            </td>
                        </tr>
                        <tr>
                            <td>User</td>
                            <td>
                                <input type="checkbox" id="allUser" @(Model.All(x => x.Is_Selected) ? "checked" : string.Empty) /> <label for="allUser"> ALL</label>
                                
                                @foreach (var user in Model)
                                {
                                    <input type="checkbox" id="user_@(user.User_Id)" name="userIds" class="user-check" value="@(user.User_Id)" @(user.Is_Selected ? "checked" : string.Empty) /> <label for="user_@(user.User_Id)">@user.Account</label>
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div>
                    <input type="submit" value="Save">
                    <input type="button" value="Exit" onclick="if (confirm('Exit this edit page without saving?')){location.href='@(Url.Action(nameof(MaintainToolsController.PermissionSetting)))';}">
                </div>
            </form>
        </div>

        <script>
            $('#allUser').change(function(){
                $(`input.user-check`).prop('checked', $(this).prop('checked'));
            });

            $('input.user-check').change(function(){
                let isAllUserChecked = $(`input.user-check:checked`).length == $(`input.user-check`).length;
                $(`#allUser`).prop('checked', isAllUserChecked);
            });
        </script>
    </body>
</html>


